@use './base.scss';

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0 auto;
  min-width: 320px;
  font-family: 'Open Sans', sans-serif;
  background-color: #BEB7DF;
}

#app {
  max-width: 1440px;
  margin: 0 auto;
  border-radius: 20px;
  height: 100vh;
}

.content {
  display: inline-block;
  padding: 10px 15px;
  width: 100%;
}

.btn {
  border: none;
  border-radius: 4px;
}
